@{
  
    Layout = null;
}



<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Thank You</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/ThankYouAssets/css/bootstrap/bootstrap.min.css"/>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

        <!-- Recoleta Alt Font -->
        <link rel="stylesheet" href="~/ThankYouAssets/css/fonts.css"/>

        <!-- Custom Styles -->
        <link rel="stylesheet" href="~/ThankYouAssets/css/style.css"/>

        <!-- animation -->
        <link rel="stylesheet" href="~/ThankYouAssets/css/animation.css"/>

        <!-- responsive -->
        <link rel="stylesheet" href="~/ThankYouAssets/css/responsive.css"/>
    </head>

    <body>
        <main class="overflow-hidden">
            <header hidden>
                <div class="logo">
                    <img src="~/ThankYouAssets/images/icon.png" alt="Icon">
                    Tracey Dawley
                </div>
                @*<div class="contact">
                    <i class="fa-solid fa-phone-volume"></i>
                    <article class="contact_detail">
                        <span>Give Us a call</span>
                        <p>+92 123 456 7890</p>
                    </article>
                    <button class="trim-btn">Contact Us</button>
                </div>*@
            </header>

            <section class="thankyou mainArea">
                <img src="~/ThankYouAssets/images/thankyou/monitoring.png" alt="thankyou-img">
                <h2 class="thankyouHeading">Thankyou</h2>
                <p class="thank-desc">Give us a day and we will get back to you</p>
                <div class="next-prev">
                    <a href="/Home/addUserFormData"><button>Go back to Survey</button></a>
                </div>

            </section>


            <!-- footer -->
            <footer>

                <!-- step number -->
                <div class="stepnumber">
                    <span>Done</span>
                </div>

                <!-- socail icons -->
               
            </footer>
        </main>

        <div id="error"></div>


        <!-- Bootstrap JS -->
        <script src="~/ThankYouAssets/js/bootstrap/bootstrap.min.js"></script>

        <!-- jQuery -->
        <script src="~/ThankYouAssets/js/jQuery/jquery-3.7.0.min.js"></script>

        <!-- Custom JS -->
        <script src="~/ThankYouAssets/js/custom.js"></script>
    </body>
</html>
